# .swp
src/*.swp
*.swp

# maps
maps/*.map
*.map

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
doom
doom-nukem
doom_editor
./doom
./doom-nukem
./doom_editor

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*/*.DS_Store
*.DS_Store

#vscode config file
.vscode/
photoshop_sprite

# Windows objects
doom-nukem.exe.stackdump
doom_editor.exe.stackdump
*.stackdump

# Perf log file
benchmark.txt

# Pre commit file
done.txt
test.c

# SDL Files
lib/SDL2-2.0.8/*
lib/SDL2_ttf-2.0.15/*
lib/freetype-2.9/*
lib/mesa-19.0.8/*
lib/zlib-1.2.11/*
lib/libdrm-2.4.100/*
lib/libpciaccess-0.13.4/*
lib/libxcb-1.14/*
lib/libXdamage-1.1/*
lib/libXfixes-5.0/*
lib/libXxf86vm-1.1.4/*
lib/xcb-proto-1.14/*
lib/libX11-1.6.9/*
lib/libxshmfence-1.3/*
lib/libXrandr-1.5.2/*
lib/libXrender-0.9.10/*
lib/libelf-0.8.13/*
lib/libpthread-stubs-0.1/

# Resources archive
resources.tar.gz

# Resources
images/
audio/
fonts/
maps/
