# .swp
src/*.swp
*.swp

# maps
maps/*.map
*.map

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
doom
doom-nukem
doom_editor
./doom
./doom-nukem
./doom_editor

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*/*.DS_Store
*.DS_Store

#vscode config file
.vscode/
photoshop_sprite

# Windows objects
doom.exe.stackdump
doom_editor.exe.stackdump

# Perf log file
benchmark.txt

# Pre commit file
done.txt
test.c

# SDL Files
SDL2-2.0.8/*
SDL2_ttf-2.0.15/*
freetype-2.9/*
freeglut-2.8.1/*
mesa-19.0.8/*
zlib-1.2.11/*
libdrm-2.4.100/*
libpciaccess-0.13.4/*
xproto-7.0.31/*
glproto-1.4.17/*
libxcb-1.14/*
libXdamage-1.1/*
libXfixes-5.0/*
libXxf86vm-1.1.4/*
xbc-proto-1.8/*
